.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.ipynb_checkpoints

notebooks
docs
dashboard
presentation
scripts
submissions
tests
mlruns
mlflow.db

data/raw/*
data/interim
data/processed
data/predictions
data/features/*
!data/features/baseline_test_features.parquet

models/*
!models/lightgbm
models/lightgbm/*
!models/lightgbm/lightgbm_v1_model.txt
!models/lightgbm/lightgbm_v1_config.json
!models/lightgbm/lightgbm_v1_feature_list.json
!models/lightgbm/lightgbm_v1_experiment_summary.json
!models/lightgbm/lightgbm_v1_full_model.txt
!models/lightgbm/lightgbm_v1_full_config.json

reports/*
!reports/tables
reports/tables/*
!reports/tables/final_model_recommendation.csv
