* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.ini text eol=lf
.gitattributes text eol=lf
Dockerfile text eol=lf

*.parquet binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.pptx binary
*.db binary
models/lightgbm/*.txt binary
